<div class="text-center">
<h1>timer</h1>
<table>
	<tr>
		<td>{{input type="text" value=hours id="hours" disabled=running insert-newline="start"}}</td>
		<td class="colon">:</td>
		<td>{{focus-input type="text" value=minutes id="minutes" disabled=running insert-newline="start"}}</td>
		<td class="colon">:</td>
		<td>{{input type="text" value=seconds id="seconds" disabled=running insert-newline="start"}}</td>
	</tr>
	<tr>
		<td class="caption">hours</td>
		<td></td>
		<td class="caption">minutes</td>
		<td></td>
		<td class="caption">seconds</td>
	</tr>
</table>
<p>
	<button {{action "start"}} {{bind-attr disabled=running}}><img class="icon" src="images/start.jpg">start</button>
	<button {{action "pause"}} {{bind-attr disabled=notRunning}}><img class="icon" src="images/pause.jpg">pause</button>
	<button {{action "stop"}} {{bind-attr disabled=notRunningOrPaused}}><img class="icon" src="images/stop.jpg">stop</button>
	<button {{action "restart"}} {{bind-attr disabled=notRunningOrPaused}}><img class="icon" src="images/restart.jpg">restart</button>
	<button {{action "snooze"}}><img class="icon" src="images/snooze.jpg">snooze</button>
</p>
<p>
	{{input type="checkbox" checked=notification id="notification" disabled=notificationDenied}}
	<label for="notification">notification</label>
	&nbsp;&nbsp;&nbsp;&nbsp;
	{{input type="checkbox" checked=sound id="sound"}}
	<label for="sound">sound</label>
</p>
<div class="btn-group" role="group" aria-label="...">
	<button type="button" {{bind-attr class=":btn isStudying:btn-primary:btn-default"}} {{action "setMode" "study"}}>study</button>
	<button type="button" {{bind-attr class=":btn isWorking:btn-primary:btn-default"}} {{action "setMode" "work"}}>work</button>
	<button type="button" {{bind-attr class=":btn isPlaying:btn-primary:btn-default"}} {{action "setMode" "play"}}>play</button>
</div>
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<p>
	study: {{studyTimeFormatted}} &nbsp;&nbsp; work: {{workTimeFormatted}} &nbsp;&nbsp; play: {{playTimeFormatted}}
</p>
<p class="copyright">© 2014-2015 Dominic Liu</p>
</div>